[deploy]
  host = localhost
  path = ~/loadrc/avante.nvim
[remote "origin"]
  url = git@github.com:huangyingw/avante.nvim.git
  fetch = +refs/heads/*:refs/remotes/origin/*
[push]
  remote = origin
[remote "yetone"]
  url = git@github.com:yetone/avante.nvim.git
  fetch = +refs/heads/*:refs/remotes/yetone/*
[gsync]
  remote = origin
  target = origin/dev
[gdio]
  ignore = ./.config/nvim/init.lua
  ignore = ./.cursorrules
  ignore = ./.gitconfig
  ignore = ./.gitignore
  ignore = ./.vimrc
  ignore = ./Dockerfile
  ignore = ./docker-compose.yml
  ignore = ./install.sh
  ignore = ./.dockerignore
  ignore = ./docker/*
  ignore = ./README.md
  ignore = ./lua/avante/logger.lua
  ignore = ./.config/nvim/diff.lua
  ignore = ./neovim/init.lua
  ignore = ./macOS_paste_guide.md
  ignore = ./paste_image.sh
